#!/usr/bin/env bash

# General
alias apt-get='sudo apt-get'
alias c='clear'
alias up='home && brew update && brew upgrade && yarn global upgrade && bun upgrade && clear && echo "All updates are finished!" && echo'

# Calculator with math support
alias bc='bc -l -q'
#alias -g calc='~/calc'

# Dotfiles
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotfiles-add='dotfiles add'
alias dotfiles-commit='dotfiles commit -m'
alias dotfiles-pull='dotfiles pull origin master'
alias dotfiles-push='dotfiles push origin master'

# Misc.
alias header='curl -I'
alias hidden='ls -ld .?*'
alias now='date +"%d-%m-%Y %T"'
alias nowz='date -u +"%Y-%m-%dT%H:%M:%SZ"' # ISO-8601
alias nowdate='date +"%d-%m-%Y"'
alias nowfull='date +%Y-%m-%dT%H:%M:%S%z'
alias nowtime='date +"%T"'
alias path='echo -e ${PATH//:/\\n}'

# Change dir
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias home='cd ~'

# Files
alias chmox='chmod +x'
alias suduh='sudo du -sh *'

# Git
alias ga='git add'
alias gac='git add . && git commit -a -m '
alias gb='git branch'
alias gc='git commit -m'
alias gcb='git checkout -b'
alias gpo='git push origin'
alias gs='git status'

# brew
alias bci='brew cask install'
alias bcl='brew cask list'
alias bcu='brew cask uninstall'
alias ibrew='arch -x86_64 /usr/local/bin/brew'
alias mbrew='arch -arm64e /opt/homebrew/bin/brew'
alias brewlias='/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"build\" in workflow \"com.alfredapp.aliashomebrewapps\""'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# History
alias h='history'
alias hs='history | grep'

# IP
alias myip='curl http://ipecho.net/plain; echo'

# NPM
alias nis='npm install --save '

# wttr.in
alias wttr='curl https://wttr.in/Saint-Petersburg\?format\=3'

# zshell (reload source)
alias src='source ~/.zshrc && clear && echo "Source reloaded"'
alias zs=src

# temp
alias colima-remove='docker context use default'
alias colima-k='colima start --kubernetes --cpu 1 --memory 2 --disk 10'

# packages & apps
alias pb='pretty-bytes'
alias sb='switch-branch'
