#!/usr/bin/env bash

# General
alias c='clear'
alias up='home && brew update && brew upgrade && yarn global upgrade && bun upgrade && clear && echo "✨ All updates are finished!"'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Misc.
alias header='curl -I'
alias hidden='ls -ld .?*'
alias now='date +"%d-%m-%Y %T"'
alias nowz='date -u +"%Y-%m-%dT%H:%M:%SZ"' # ISO-8601
alias nowdate='date +"%d-%m-%Y"'
alias nowfull='date +%Y-%m-%dT%H:%M:%S%z'
alias nowtime='date +"%T"'
alias path='echo -e ${PATH//:/\\n}'

# Change dir
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias home='cd ~'

# Files
alias chmox='chmod +x'
alias suduh='sudo du -sh *'

# History
alias h='history'
alias hs='history | grep'

# Git
alias ga='git add'
alias gac='git add . && git commit -a -m '
alias gb='git branch'
alias gc='git commit -m'
alias gcb='git checkout -b'
alias gpo='git push origin'
alias gs='git status'

# brew
alias bci='brew cask install'
alias bcl='brew cask list'
alias bcu='brew cask uninstall'

# zshell (reload source)
alias src='source ~/.zshrc && clear && echo "✨ Source reloaded!"'

# dev
alias na='yarn add'
alias nr='yarn remove'
alias phpver='brew-php-switcher'

# Calculator
alias bc='bc -l -q'
alias calc=bc

# IP
alias myip='curl http://ipecho.net/plain; echo'

# wttr.in
alias wttr='curl https://wttr.in/Beograd\?format\=3'

# custom (packages & apps)
alias bunfig='curl -o bunfig.toml https://gist.githubusercontent.com/yerofey/dd26a77e7b42f960524ff2ef036d3464/raw/05e2fdfb8d9ac8797bcd12aff45ce13bef35cca8/bunfig.toml --silent && echo "✨ Default bunfig.toml configuration file created!"'
alias pb='pretty-bytes'
alias sb='switch-branch'
alias wfpass='wifi-password'
alias wfpwd=wfpass
