#!/usr/bin/env bash

# General
alias c='clear'
alias up='home && brew update && brew upgrade && brew cleanup && brew autoremove && composer global update && bun upgrade && pnpm add -g pnpm && pnpm upgrade -g && npm i -g npm && npm upgrade -g && yarn global upgrade && zup && clear && echo "✨ All updates are finished!"'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Misc.
alias cls='exa --icons -lh'
alias header='curl -I'
alias hidden='ls -ld .?*'
alias now='date +"%d-%m-%Y %T"'
alias nowz='date -u +"%Y-%m-%dT%H:%M:%SZ"' # ISO-8601
alias nowdate='date +"%d-%m-%Y"'
alias nowfull='date +%Y-%m-%dT%H:%M:%S%z'
alias nowtime='date +"%T"'
alias path='echo -e ${PATH//:/\\n}'

# Change dir
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias home='cd ~'

# Files
alias chmox='chmod +x'
alias suduh='sudo du -sh *'
alias find_nm='find . -name "node_modules" -type d -prune -print | xargs du -chs' # find all "node_modules/" dirs in current scope
alias rm_nm='find . -name "node_modules" -type d -prune -exec rm -rf "{}" +'; # delete all "node_modules/" dirs in current scope

# History
alias h='history'
alias hs='history | grep'

# Git
alias ga='git add'
alias gac='git add . && git commit -a -m '
alias gb='git branch'
alias gc='git commit -m'
alias gcb='git checkout -b'
alias gpo='git push origin'
alias gs='git status'
alias ghcombine='gh combine-prs --query \"author:app/dependabot\"'

# dotfiles
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# zshrc
alias src='source ~/.zshrc && clear && echo "✨ Source reloaded!"'
alias zls='zupdate ls' # zshrc plugin "update-plugin"
alias zup='zupdate' # zshrc plugin "update-plugin"

# dev
alias _r='bun run'
alias a='artisan'
alias pn=pnpm
alias pna='pnpm add'
alias pnad='pnpm add -D'
alias pnag='pnpm add -g'
alias pnc='pnpm create'
alias pni='pnpm install'
alias pnit='pnpm init'
alias pnnp='pnpm init && pnpm install'
alias pnr='pnpm remove'
alias pns='pnpm run'
alias pnup='pnpm upgrade'
alias pnupg='pnpm upgrade -g'
alias pnups="pnpm update -i --latest"
alias pnx='pnpm exec'

# Calculator
alias bc='bc -l -q'
alias calc=bc

# IP
alias myip='curl api.ipify.org && echo'

# custom (packages & apps)
alias bunfig='curl -o bunfig.toml https://gist.githubusercontent.com/yerofey/dd26a77e7b42f960524ff2ef036d3464/raw/05a7097333ef5eca50703a7fe1f0e39966fa3514/bunfig.toml --silent && echo "✨ Default bunfig.toml configuration file created!"'
alias onl='is-online' # is-online-cli (NPM)
alias pb='pretty-bytes' # pretty-bytes-cli (NPM)
alias sb='switch-branch'
alias wifipass='wifi-password' # wifi-password (brew)
